---
import TagForm from "../components/TagForm";
import Layout from '../layouts/Layout.astro';

---

<Layout title="create tags">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <h1 class="text-3xl font-bold mb-6">Create New Tag</h1>
    <TagForm client:load />
  </div>
</Layout>